<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menú acerca</title>
    <link rel="stylesheet" href="/public/css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,800" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/public/img/LogoS.png" alt="Logo">
            </div>
            <div class="icono" id="icono">
                <span>&#9776;</span>
            </div>
            <div class="enlaces uno" id="enlaces">
                <a href="acerca.html" class="active">Inicio</a>
                <a href="estudiante.html">acerca del alumno</a>
            </div>
        </nav>
        <div class="wrap">
            <ul class="tabs">
                <li><a href="#">Calificaciones</a></li>
                <li><a href="#">Asistencias</a></li>
                <li><a href="#">Horario</a></li>              
            </ul>
            <h1>Nosotros somos la plataforma</h1>
            <h2>Página de inicio para estudiantes y maestros</h2>
            <h3>La plataforma cuenta con un sistema para generary chambear como maestro y para el alumno 
                ver su historial academico </h3>
        </div>
    </header>
    <script src="/public/js/main.js"></script>
</body>
</html>
