<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Estudiante</title>
    <link rel="stylesheet" href="/public/css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/public/img/LogoS.png" alt="Logo">
            </div>
            <div class="icono" id="icono">
                <span>&#9776;</span>
            </div>
            <div class="enlaces uno" id="enlaces">
                <a href="estudiante.html">Alumno</a>
            </div>
        </nav>
        <div class="textos">
            <h1>Salir</h1>
            <h2>Estás a punto de salir</h2>
            <form id="logoutForm" action="/logout" method="post">
                <button type="submit" class="btn-cerrar-sesion">Cerrar Sesión</button>
            </form>
        </div>
    </header>
</body>
</html>
