<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menú acerca</title>
    <link rel="stylesheet" href="/public/css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,800" rel="stylesheet">
</head>
<body>
    <header>
        <!--Inicio del sistema y SOLO dos paginas -->
        <nav>
            <div class="logo">
                <img src="/public/img/LogoS.png" alt="Logo">
            </div>
            <div class="icono" id="icono">
                <span>&#9776;</span>
            </div>
            <div class="enlaces uno" id="enlaces">
                <a href="estudiante.html" class="active">Inicio</a>
                <a href="acerca.html">acerca del alumno</a>
            </div>
        </nav>
        <header>
        <!--Navegador del alumno con los datos a consultar -->
        <div class="wrap">
            <ul class="tabs">
                <li><a href="#tab1" class="activar"><span>Calificaciones</span></a></li>
                <li><a href="#tab2"><span>Asitencias</span></a></li>
                <li><a href="#tab3"><Span>Horario</Span></a></li>   
                <li><a href="#tab4"><Span>Contactar</Span></a></li>                 
            </ul>
            <div class="secciones">
                <h2 id="tab1">Calificaciones</h2>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Materia</th>
                            <th>Calificación</th>
                        </tr>
                    </thead>
                </table>

                <h2 id="tab2">Asistencias del Alumno</h2>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Porcentaje de asistencias</th>
                            <th>Profesor</th>
                        </tr>
                    </thead>
                </table>

                <h2 id="tab3">Horario de clases</h2>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Profesor</th>
                            <th>Salon</th>
                        </tr>
                    </thead>
                </table>
                <div class="tab4">
                    <div class="info">
                        <h2>Contactar</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, officiis tempore dicta minus dolor dolore aspernatur in debitis explicabo qui quibusdam quae doloremque error! Cupiditate eligendi laudantium excepturi ullam atque.</p>
                        <a href="#"><i></i>123-456-789</a>
                        <a href="#"><i></i>email@hola.com</a>
                        <a href="#"><i></i>Ciudad, Pais</a>
                    </div>
                    <form action="#" autocomplete="off">
                        <input type="text" name="Nombre" placeholder="Ingresa tu nombre" class="campo">
                        <input type="email" name="email" placeholder="Ingresa tu correo" class="campo">
                        <textarea name="mensaje" placeholder="Ingresa tu mensaje" id=""></textarea>
                        <button name="enviar" class="btn-enviar">enviar mensaje</button>
                    </form>
                </div>
            </div>
        </div>
    <script src="/public/js/main.js"></script>
</body>
</html>
